# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# VitePress build outputs
site/.vitepress/dist
site/.vitepress/cache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
